.Button{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--form-control-radius);
  border: var(--border-size-m) solid transparent;
  width: max-content;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-size: var(--font-size-xs);

  &_size{
    &_m{
      padding-left: 11px;
      padding-right: 11px;
      line-height: calc(var(--font-lh-xl) - (var(--border-size-m) * 2));
      min-height: var(--font-lh-xl);
    }
    &_l{
      padding-right: 13px;
      padding-left: 13px;
      line-height: calc(var(--font-lh-xxxl) - (var(--border-size-m) * 2));
      min-height: var(--font-lh-xxxl);
    }
  }

  &_type_control{
    background: var(--color-bg-control);
    &:hover{
      background: var(--color-bg-control-hover);
    }
    &:active{
      background: var(--color-bg-control);
      border: var(--border-size-m) solid var(--border-color-button-control);
      color: inherit;
    }
  }

  &_type_action{
    background: var(--color-bg-action);
    &:hover{
      background: var(--color-bg-action-hover);
    }
    &:active{
      background: var(--color-bg-action);
      border: var(--border-size-m) solid var(--border-color-button-action);
      color: inherit;
    }
  }
  &:disabled{
    background: var(--color-bg-pre);
    color: var(--text-disabled-color);
    border: var(--border-size-m) solid transparent;
    cursor: not-allowed;
  }

  &_iconMix{
    padding-left: 3px;
  }

  &_icon{
    &_left{
      &:before{
        width: var(--gap-xl);
        height: var(--gap-l);
        margin-right: var(--gap-s);
      }
    }
  }

  &_text_hidden{
    padding-right: 3px;
    &:before{
      margin-right: var(--gap-xxs);
    }
    .Button-Text{
      max-width: 0;
      overflow: hidden;
    }
  }
}
