@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/7_GKBdKFbUPzKlghJRv55xgz0FQ.woff2") format("woff2"), url("//yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "YS Text";
  src: url("//yastatic.net/islands/_/6Roy0LCd05cK4nNCipgzheYcNVU.woff2") format("woff2"), url("//yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), url('./fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

:root{
  /* colors */
  --color-bg-action:	#FFCC00;
  --color-bg-action-hover:	#F2C200;
  --color-bg-control:	#E6E6E6;
  --color-bg-control-hover:	#DBDBDB;
  --color-bg-main:	#FFFFFF;
  --color-bg-secondary:	#F0F2F3;
  --color-bg-pre:	#F2F2F2;
  /* text-colors */
  --text-hover-color:	#E00000;
  --text-main-color:	#000000;
  --text-placeholder-color:	#CCCCCC;
  --text-dark-color:	#595959;
  --text-secondary-color:	#7F8285;
  --text-success-color:	#00B341;
  --text-error-color:	#FF3333;
  --text-process-color:	#FF9A00;
  --text-disabled-color:	#7F7F7F;
  /* border-colors */
  --border-color:	#D9D9D9;
  --border-color-deep:	#B3B3B3;
  --border-color-button-action:	#B38F00;
  --border-color-button-control:	#B3B3B3;
  /* border radius */
  --form-control-radius:	4px;
  --ticket-radius:	6px;
  /* border sizes */
  --border-size-s: 1px;
  --border-size-m: 2px;
  /* shadows */
  --element-shadow:	0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --element-hover-shadow:	0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  /* font-sizes */
  --font-size-xxs:	10px;
  --font-size-xs:	13px;
  --font-size-s:	15px;
  --font-size-m:	16px;
  --font-size-l:	18px;
  --font-size-xl:	24px;
  /* line-heghts */
  --font-lh-xxs:	15px;
  --font-lh-xs:	16px;
  --font-lh-s:	18px;
  --font-lh-m:	20px;
  --font-lh-l:	22px;
  --font-lh-xl:	28px;
  --font-lh-xxl:	30px;
  --font-lh-xxxl:	36px;
  /* gap */
  --gap-xxs: 2px;
  --gap-xs: 6px;
  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 12px;
  --gap-xl: 16px;
  --gap-xxl: 20px;
  --gap-xxxl: 24px;
  --gap-xxxxl: 32px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

a, a:hover, a:visited, a:active{
  text-decoration: none;
  color: var(--color-text-main);
}

.Icon{
  &_gear:before, &_gear:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.488' height='12' viewBox='0 0 11.488 12'%3E%3Cpath d='M11.341,7.442l-1.031-.6a4.662,4.662,0,0,0,0-1.7l1.031-.6a.292.292,0,0,0,.133-.339,6.026,6.026,0,0,0-1.323-2.289.291.291,0,0,0-.358-.056l-1.031.6a4.566,4.566,0,0,0-1.471-.849V.428A.29.29,0,0,0,7.063.145a6.082,6.082,0,0,0-2.642,0,.29.29,0,0,0-.227.283v1.19a4.71,4.71,0,0,0-1.471.849l-1.028-.6a.287.287,0,0,0-.358.056A5.989,5.989,0,0,0,.013,4.217a.289.289,0,0,0,.133.339l1.031.6a4.66,4.66,0,0,0,0,1.7l-1.031.6a.292.292,0,0,0-.133.339,6.026,6.026,0,0,0,1.323,2.289.291.291,0,0,0,.358.056l1.031-.6a4.566,4.566,0,0,0,1.471.849v1.19a.29.29,0,0,0,.227.283,6.082,6.082,0,0,0,2.642,0,.29.29,0,0,0,.227-.283v-1.19a4.709,4.709,0,0,0,1.471-.849l1.031.6a.287.287,0,0,0,.358-.056,5.989,5.989,0,0,0,1.323-2.289A.3.3,0,0,0,11.341,7.442Zm-5.6.491A1.935,1.935,0,1,1,7.678,6,1.938,1.938,0,0,1,5.742,7.933Z' fill='%23111'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_build:before, &_build:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.749' height='10' viewBox='0 0 8.749 10'%3E%3Cpath d='M10.289,5.193,3.414,1.128A.932.932,0,0,0,2,1.935v8.127a.937.937,0,0,0,1.414.807l6.875-4.062A.936.936,0,0,0,10.289,5.193Z' transform='translate(-2 -1)' fill='%23111'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_rebuild:before, &_rebuild:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M8.775,3.031A4.065,4.065,0,0,0,2.058,5a.291.291,0,0,1-.282.221H.39A.29.29,0,0,1,.1,4.883,6,6,0,0,1,10.145,1.662L11.009.8A.581.581,0,0,1,12,1.208V4.452a.581.581,0,0,1-.581.581H8.176a.581.581,0,0,1-.411-.991ZM.581,6.968H3.824a.581.581,0,0,1,.411.991l-1.01,1.01A4.066,4.066,0,0,0,9.942,7a.291.291,0,0,1,.282-.221H11.61a.29.29,0,0,1,.286.343A6,6,0,0,1,1.855,10.338L.991,11.2A.581.581,0,0,1,0,10.792V7.548A.581.581,0,0,1,.581,6.968Z'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_branch:before, &_branch:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='8' viewBox='0 0 16 8'%3E%3Cpath d='M3.2,8a5.006,5.006,0,0,0,.065.8H.3A.3.3,0,0,1,0,8.5v-1a.3.3,0,0,1,.3-.3H3.265A5.006,5.006,0,0,0,3.2,8Zm12.5-.8H12.735A4.732,4.732,0,0,1,12.8,8a5.006,5.006,0,0,1-.065.8H15.7a.3.3,0,0,0,.3-.3v-1A.3.3,0,0,0,15.7,7.2ZM8,5.2a2.8,2.8,0,1,0,1.98.82A2.79,2.79,0,0,0,8,5.2ZM8,4A4,4,0,1,1,4,8,4,4,0,0,1,8,4Z' transform='translate(0 -4)' fill='%23b2b2b2'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_commiter:before, &_commiter:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.25' height='14' viewBox='0 0 12.25 14'%3E%3Cpath d='M8.125,8a3.5,3.5,0,1,0-3.5-3.5A3.5,3.5,0,0,0,8.125,8Zm2.45.875h-.457a4.76,4.76,0,0,1-3.987,0H5.675A3.676,3.676,0,0,0,2,12.55v1.137A1.313,1.313,0,0,0,3.313,15h9.625a1.313,1.313,0,0,0,1.313-1.312V12.55A3.676,3.676,0,0,0,10.575,8.875Z' transform='translate(-2 -1)' fill='%23b2b2b2'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_duration:before, &_duration:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.968' height='16' viewBox='0 0 12.968 16'%3E%3Cpath d='M12.279,5.75l.7-.706a.376.376,0,0,0,0-.531l-.53-.531a.374.374,0,0,0-.53,0l-.645.647A6.433,6.433,0,0,0,7.731,3.041V1.5H8.6a.376.376,0,0,0,.374-.375V.375A.376.376,0,0,0,8.6,0H5.362a.376.376,0,0,0-.374.375v.75a.376.376,0,0,0,.374.375h.873V3.044A6.492,6.492,0,1,0,12.279,5.75Zm-5.3,8.75a5,5,0,1,1,4.988-5A4.992,4.992,0,0,1,6.983,14.5ZM7.357,11H6.609a.376.376,0,0,1-.374-.375V6.375A.376.376,0,0,1,6.609,6h.748a.376.376,0,0,1,.374.375v4.25A.376.376,0,0,1,7.357,11Z' transform='translate(-0.499)' fill='%23b2b2b2'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_date:before, &_date:after{
    content: '';
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.949' height='16' viewBox='0 0 13.949 16'%3E%3Cpath d='M5.608,9H4.363a.375.375,0,0,1-.374-.375V7.375A.375.375,0,0,1,4.363,7H5.608a.375.375,0,0,1,.374.375v1.25A.375.375,0,0,1,5.608,9Zm3.363-.375V7.375A.375.375,0,0,0,8.6,7H7.352a.375.375,0,0,0-.374.375v1.25A.375.375,0,0,0,7.352,9H8.6A.375.375,0,0,0,8.971,8.625Zm2.989,0V7.375A.375.375,0,0,0,11.586,7H10.341a.375.375,0,0,0-.374.375v1.25A.375.375,0,0,0,10.341,9h1.245A.375.375,0,0,0,11.96,8.625Zm-2.989,3v-1.25A.375.375,0,0,0,8.6,10H7.352a.375.375,0,0,0-.374.375v1.25A.375.375,0,0,0,7.352,12H8.6A.375.375,0,0,0,8.971,11.625Zm-2.989,0v-1.25A.375.375,0,0,0,5.608,10H4.363a.375.375,0,0,0-.374.375v1.25A.375.375,0,0,0,4.363,12H5.608A.375.375,0,0,0,5.982,11.625Zm5.978,0v-1.25A.375.375,0,0,0,11.586,10H10.341a.375.375,0,0,0-.374.375v1.25a.375.375,0,0,0,.374.375h1.245A.375.375,0,0,0,11.96,11.625ZM14.949,3.5v11A1.5,1.5,0,0,1,13.454,16H2.495A1.5,1.5,0,0,1,1,14.5V3.5A1.5,1.5,0,0,1,2.495,2H3.989V.375A.375.375,0,0,1,4.363,0H5.608a.375.375,0,0,1,.374.375V2H9.967V.375A.375.375,0,0,1,10.341,0h1.245a.375.375,0,0,1,.374.375V2h1.495A1.5,1.5,0,0,1,14.949,3.5ZM13.454,14.313V5H2.495v9.313a.188.188,0,0,0,.187.188H13.267A.188.188,0,0,0,13.454,14.313Z' transform='translate(-1)' fill='%23b2b2b2'/%3E%3C/svg%3E") no-repeat center center;
  }
  &_inputClear{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M8,16a8,8,0,1,1,8-8A8.024,8.024,0,0,1,8,16ZM12,5.12,10.88,4,8,6.88,5.12,4,4,5.12,6.88,8,4,10.88,5.12,12,8,9.12,10.88,12,12,10.88,9.12,8Z' fill='%23ccc'/%3E%3C/svg%3E") no-repeat center center;
  }
}
