/node_modules/
/serverFront/node_modules/
/client/node_modules/
/serverFront/clone/
/serverFront/storage/
/serverFront/.env
/.idea/
/tests/hermione/hermione-html-report/
/images/
.DS_Store
/server/server-conf.json
/server/node_modules/
/agent/node_modules/
/agent/clone/