/node_modules/
/server/node_modules/
/client/node_modules/
/server/clone/
/server/storage/
/server/.env
/.idea/
/tests/hermione/hermione-html-report/
/images/
.DS_Store
/buildServer/server-conf.json
/buildServer/node_modules/