doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    title School CI server
  body.Page
    header.Header.Page-Header
      .Header-Inner.Container
        h1.Header-Title.Header-Title_color_faded
          a.Header-Title-Link(href="/") School CI server
        a.Button.Button_icon_left.Icon_gear.Button_size_m.Button_type_control.Button_icon.Header-Button(href="/api/settings")
          span.Button-Text Settings
    section.Content.Page-Content
      .Content-Inner.Content-Inner_alignHorizon_center.Content-Inner_alignVertical_center.Container
        .Land
          .Land-Logo
          p.Land-Text
            | Configure repository connection
            | and synchronization settings
          a.Button.Button_size_l.Button_type_action.Land-Button(href="/api/settings")
            span.Button-Text Open settings
    footer.Footer.Page-Footer
      .Footer-Inner.Container
        nav.Footer-Nav
          a.Link.Link_color_secondary(href="#") Support
          a.Link.Link_color_secondary(href="#") Learning
        .Footer-Copyright © 2020 Your Name

