-var id= data.id
-var repoName= data.repoName
-var buildCommand= data.buildCommand
-var mainBranch= data.mainBranch
-var period= data.period

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/style.css")
    title School CI server: Settings
  body.Page
    header.Header.Page-Header
      .Header-Inner.Container
        h1.Header-Title.Header-Title_color_faded
          a.Header-Title-Link(href="/#") School CI server
    section.Content.Page-Content
      .Content-Inner.Content-Inner_alignHorizon_left.Content-Inner_alignVertical_top.Container
        form.Form.Content-Form#settingsForm(action="")
          .Form-Info
            h2.Form-Title Settings
            p.Form-Text Configure repository connection and synchronization settings.
          .Form-Field
            .Input.Input_direction_column
              label.Input-Label.Input-Label_required(for="repo_id") GitHub repository
              input#repo_id.Input-Input.Input-Input_border_default(type="text" name="repoName" placeholder="user-name/repo-name" required="" value= repoName)
          .Form-Field
            .Input.Input_direction_column
              label.Input-Label(for="command_id") Build command
              input#command_id.Input-Input.Input-Input_border_default(type="text" name="buildCommand" value= buildCommand)
              span.Input-Icon.Icon.Icon_inputClear
          .Form-Field
            .Input.Input_direction_column
              label.Input-Label(for="branch_id") Main branch
              input#branch_id.Input-Input.Input-Input_border_default(type="text" name="mainBranch" value= mainBranch autofocus="")
              span.Input-Icon.Icon.Icon_inputClear
          .Form-Field
            .Input.Input_direction_row.Content-Form-Input
              label.Input-Label(for="sync_id") Synchronize every
              input#sync_id.Input-Input.Input-Input_border_default.Content-Form-Input_small(type="text" name="period" value= period)
              .Input-Text minutes
          .Form-Field.Content-Form-Field
            button.Button.Button_size_l.Button_type_action.Form-Button#saveSettings(type="submit" form="settingsForm") 
              span.Button-Text Save
            a.Button.Button_size_l.Button_type_control.Form-Button(href="/#")
              span.Button-Text Cancel
    footer.Footer.Page-Footer
      .Footer-Inner.Container
        nav.Footer-Nav
          a.Link.Link_color_secondary(href="#") Support
          a.Link.Link_color_secondary(href="#") Learning
        .Footer-Copyright © 2020 Your Name
    script(src="/script.js")
