.Modal{
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-xs);
  line-height: var(--font-lh-s);
  font-weight: 400;
  background: var(--main-bg-color);
  color: var(--color-text-main);
  &-Overlay{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Body{
    background: var(--color-bg-main);
    padding: var(--gap-xxl);
    border-radius: var(--form-control-radius);
    width: 100%;
    max-width: 485px;
    box-shadow: var(--element-shadow);
  }

  &-Info{
    * + *{
      margin-top: var(--gap-l);
    }
    padding-bottom: var(--gap-l);
  }
  &-Title{
    font-size: var(--font-size-l);
    line-height: var(--font-lh-l);
    font-weight: 500;
  }
  &-Text{
    letter-spacing: 0.06px;
  }
  &-ButtonsGroup{
    display: flex;
    * + *{
      margin-left: var(--gap-m);
    }
    margin-top: var(--gap-l);
  }
  &-Button{
    &_type{
      &_control{
        background: var(--color-bg-main);
        border: var(--border-size-s) solid var(--border-color);
      }
    }
  }
}