.Container{
  height: 100%;
  width: 100%;
  max-width: 824px;
  margin: 0 auto;
  flex: 1 0 auto;
  
  @media screen and (max-width: 856px){
    padding-right: var(--gap-xl);
    padding-left: var(--gap-xl);
  }
}
