.Link{
  display: block;
  line-height: var(--font-lh-xs);
  font-weight: 400;
  letter-spacing: 0.06px;
  color: var(--text-main-color);

  &_color_secondary{
    color: var(--text-secondary-color);
    &:visited{
      color: var(--text-secondary-color);
    }
  }
  &_color_dark{
    color: var(--text-dark-color);
    &:visited{
      color: var(--text-dark-color);
    }
  }
  &:hover, &:active{
    color: var(--text-hover-color);
  }
}
