.Land{
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 264px;

  &-Logo{
    width: 124px;
    height: 124px;
    margin-bottom: var(--gap-xxxxl);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='124' height='124' viewBox='0 0 124 124'%3E%3Cpath d='M54.253,23.272V35.09l7.193,7.192A25.552,25.552,0,0,1,86.514,11.648H86.8L72.9,25.5l3.657,21.94L98.5,51.1,112.38,37.221A25.487,25.487,0,0,1,97.122,60.88c.436.388.945.7,1.356,1.114l7.436,7.434a36.135,36.135,0,0,0,7.12-5.546,37.634,37.634,0,0,0,9.858-35.5,8.413,8.413,0,0,0-14.145-3.923L94.53,38.649l-7.847-1.308L85.375,29.5,99.568,15.3A8.45,8.45,0,0,0,95.62,1.138,37.03,37.03,0,0,0,53.986,19.179l.266.194Zm-28.58,86.67a8.459,8.459,0,0,1-11.65,0A8.211,8.211,0,0,1,11.6,104.13a8.072,8.072,0,0,1,2.422-5.812L46.575,65.772l-8.211-8.209L5.813,90.085a19.865,19.865,0,0,0,28.1,28.091L58.346,93.742a25.509,25.509,0,0,1-3.8-12.617Zm95.693-14.118L93,67.467A17.985,17.985,0,0,0,72.321,64.1L46.5,38.286V23.248L15.5,0,0,15.5l23.251,31H38.292L64.11,72.31a18.018,18.018,0,0,0,3.367,20.681l28.362,28.357a9,9,0,0,0,12.764,0l12.764-12.762A9.046,9.046,0,0,0,121.366,95.824Z' fill='%23e5e5e5'/%3E%3C/svg%3E") no-repeat center center /contain;
  }

  &-Text{
    line-height: 125%;
    text-align: center;
    margin-bottom: var(--gap-xxxl);
  }

  &-Button{
    margin-bottom: var(--gap-s);
  }
}
