.Input{
  display: flex;
  position: relative;
  * + *{
    margin-top: var(--gap-xs);
  }

  &_required{
    .Input-Label::after{
      content: '*';
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: var(--text-error-color);
      margin-left: var(--gap-xxs);
    }
  }

  &-Input{
    border-radius: var(--form-control-radius);
    padding: 9px 13px 8px 13px;
    font-size: var(--font-size-xs);
    line-height: var(--font-lh-xxs);
    outline: none;
    &_border_default{
      border: var(--border-size-m) solid var(--border-color);
      &:focus{
        border: var(--border-size-m) solid var(--border-color-deep);
      }
    }
    &::placeholder{
      opacity: 1;
      color: var(--text-placeholder-color);
    }
  }

  &-Text{
    font-size: var(--font-size-xs);
    line-height: var(--font-lh-xxs);
  }

  &-Icon{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 16px;
    height: 16px;
  }

  &_direction_column{
    flex-direction: column;
  }

  &_direction_row{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    * + *{
      margin-top: 0;
    }
  }
}
