:root{
  /* colors */
  --color-bg-action:	#FFCC00;
  --color-bg-action-hover:	#F2C200;
  --color-bg-control:	#E6E6E6;
  --color-bg-control-hover:	#DBDBDB;
  --color-bg-main:	#FFFFFF;
  --color-bg-secondary:	#F0F2F3;
  --color-bg-pre:	#F2F2F2;
  /* text-colors */
  --text-hover-color:	#E00000;
  --text-main-color:	#000000;
  --text-placeholder-color:	#CCCCCC;
  --text-dark-color:	#595959;
  --text-secondary-color:	#7F8285;
  --text-success-color:	#00B341;
  --text-error-color:	#FF3333;
  --text-process-color:	#FF9A00;
  /* border-colors */
  --border-color:	#D9D9D9;
  --border-color-deep:	#B3B3B3;
  --border-color-button-action:	#B38F00;
  --border-color-button-control:	#B3B3B3;
  /* border radius */
  --form-control-radius:	4px;
  --ticket-radius:	6px;
  /* border sizes */
  --border-size-s: 1px;
  --border-size-m: 2px;
  /* shadows */
  --element-shadow:	0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  --element-hover-shadow:	0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
  /* font-sizes */
  --font-size-xxs:	10px;
  --font-size-xs:	13px;
  --font-size-s:	15px;
  --font-size-m:	16px;
  --font-size-l:	18px;
  --font-size-xl:	24px;
  /* line-heghts */
  --font-lh-xxs:	15px;
  --font-lh-xs:	16px;
  --font-lh-s:	18px;
  --font-lh-m:	20px;
  --font-lh-l:	22px;
  --font-lh-xl:	28px;
  --font-lh-xxl:	30px;
  --font-lh-xxxl:	36px;
  /* gap */
  --gap-xxs: 2px;
  --gap-xs: 6px;
  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 12px;
  --gap-xl: 16px;
  --gap-xxl: 20px;
  --gap-xxxl: 24px;
  --gap-xxxxl: 32px;
}