*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

a, a:hover, a:visited, a:active{
  text-decoration: none;
  color: var(--color-text-main);
}

.Page{
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-xs);
  line-height: var(--font-lh-s);
  font-weight: 400;
  background: var(--main-bg-color);
  color: var(--color-text-main);

  display: flex;
  flex-direction: column;
  height: 100%;

  &-Content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  &-Footer{
    flex: 0 0 auto;
  }
}