*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

a{
  text-decoration: none;
}

.Page{
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  font-size: var(--font-size-xs);
  line-height: var(--font-lh-s);
  background: var(--main-bg-color);

  display: flex;
  flex-direction: column;
  height: 100%;

  &-Header{
  }
  &-Content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  &-Footer{
    flex: 0 0 auto;
  }
}